$color-link: #00008B;
$color-link-hover: #8B0000;
$color-link-meta: #777;
$color-bg-light: #eee;
$color-bg: #fdfdfd;

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
}

body {
    font: 1rem/1.5 system-ui, -apple-system, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-rendering: optimizeLegibility;
    background-color: $color-bg;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: $color-bg-light;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

h1,
h2,
h3,
h4,
h5,
strong,
b {
    font-weight: 600;
    margin-bottom: 0;
}

.link {
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.time {
    font-variant-numeric: tabular-nums;
}

blockquote {
    border-left: 5px solid $color-bg-light;
    padding-left: 1em;
    margin: 0.5em 0;
}

a,
a:visited {
    color: $color-link;
    text-decoration: 1px solid black;
}

a:hover {
    text-decoration: none;
    color: $color-link-hover;
}

.meta {
    color: $color-link-meta;
    margin-top: 0;
    font-size: smaller;

    a {
        color: $color-link-meta;
    }

    a:hover {
        color: $color-link-hover;
    }
}

pre {
    padding: .5rem;
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
}

code,
pre,
.highlight {
    font-family: ui-monospace, 'JetBrains Mono', 'DejaVu Sans Mono', 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, monospace;
    font-size: small;
    background: $color-bg-light;
    hyphens: none;
}

code {
    padding: .1rem;
    border: none;

    /* Fix iOS rendering multiple font sizes */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

// Remove silly line in highlight sections
div.highlight pre code {
    padding: 0;
}

ul {
    list-style-type: square;
}

ul,
ol {
    padding-left: 1.2rem;
}

.list {
    line-height: 2;
    list-style-type: none;
    padding-left: 0;
}

.list li {
    padding-bottom: .1rem
}

.content {
    max-width: 70ch;
    margin: 0 auto;
}

header {
    @include flex-between
    line-height: 2;
    padding-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: $color-link-meta;
    display: inline;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header li {
    display: inline;
}

header ul a:first-child {
    padding-left: 1rem;
}

.nav {
    height: 1px;
    background: #000;
    content: '';
    max-width: 10%;
}

p.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

p.pagination a {
    text-decoration: none;
    margin: 10px;
    color: #000;
}

p.pagination a:hover {
    text-decoration: none;
    color: $color-link-hover;
}

p.pagination span.active {
    font-weight: bold;
}

.list li {
    display: flex;
    align-items: baseline;
}

.list li time {
    flex: 0 1 auto;
}

.hr-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 1px;
    border: 0;
    flex: 1 0 1rem;
}

.m,
hr {
    border: 0;
    margin: 3rem 0
}

img {
    max-width: 100%;
    height: auto;
}

.small-caps {
    font-variant: all-small-caps;
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1.5em;
    border-bottom: 1px solid grey;
}

.grid a {
    color: black;
}

.grid a:hover {
    color: $color-link-hover;
}

.site-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: left;
    font-variant: all-small-caps;
}

.site-menu {
    font-weight: normal;
    font-variant: all-small-caps;
    text-align: right;
    margin: 0;
    padding: 0;
}

/* stolen from sakura.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid #f1f1f1;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span[itemprop="articleBody"] p, li, blockquote {
    hyphens: auto;
    text-wrap: pretty;
}

@mixin notice($notice-color)
{
    margin: 0.5em 0;
    padding-left: 1em;
    border-left: 5px solid $notice-color;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.series-info {
    @include notice(#8ebeeb);
    font-size: small;
}

.container {
    @include flex-between
    width: 100%;
    gap: .25em;
}

.link, .time, .tags {
    white-space: nowrap;
}

.link {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    min-width: 0;
}

.tags {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.tags a {
    color:$color-link-meta;
    font-size: small;
    margin-right: .25em;
    font-variant: all-small-caps;
}
.tags a::before {
    content: '#';
}
.tags a:hover {
    color: $color-link-hover;
}

@media (max-width: 600px) {
    .link {
      flex-grow: 0;
      text-overflow: ellipsis;
    }

    .tags {
      display: none;
    }

    .container {
      justify-content: space-between;
    }
  }
