{{ define "main" }}
<p><strong>All {{ .Title }}</strong>, sorted alphabetically</p>
<ul reversed class="list">
  {{ range .Data.Terms.Alphabetical }}
  <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <a class="link" href="{{ .Page.Permalink }}" title="{{ .Page.Title }}" itemprop="name url">{{ .Page.Title }}</a>&nbsp;({{ .Count }})
    <hr class="hr-list">
    <time class="g time" datetime="{{ dateFormat "2006-01-02" .Page.Date }}">{{ dateFormat "2006-01-02" .Page.Date }}</time>
  </li>
  {{ end }}
</ul>
{{ end }}
